<section>
<div class="center">
  <h1>Trip  Memory</h1>

  <h2>
    ”記憶”に残る旅を”記録”に残す旅日記
  </h2>

  <%= link_to "まずは、使ってみる!!", signup_path, class: "btn btn-large btn-primary" %>
</div>
</section>

<section class="step1">
<h3>人生の中で大切な"<font color="orenge">旅</font>”
　　　<br>一生モノの旅の記憶を旅日記としてカタチに残すサイト</br></h3>
<%= link_to image_tag("photo1.png", alt: "photo1") %>
<%= link_to image_tag("photo2.png", alt: "photo2") %>

</section>

